/**
 * **************************************
 *  ○○○○ページ全体のCSS
 * **************************************
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ページの基本書体 */
    font-family : 'Yu Mincho', serif;
  }

  .container {
    width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
  }


/**
 * **************************************
 *  ○○○○のheader関わるCSSの設定
 * **************************************
*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(179, 44, 78, 0.9);
  /* ヘッダーの固定 */
  position: fixed;
  top: 0;
  /* ヘッダーが一番上の層に来るように指定 */
  z-index: 10;
}

.header-left{
  font-family : 'Yu Mincho', serif;
  float: left;
  padding: 15px 30px 10px 20px;
  font-size: 30px;
  color: aliceblue;
}


.header-right {
  float: right;
  padding: 10px 40px 0 5px;
}

.Home_return{
  font-family: 'Yu Mincho', serif;
  font-size: 35px;
  color: aliceblue;
}

/**
 * **************************************
 *  ○○○○○○○○のメインに関わるCSSの設定
 * **************************************
*/
.main-wrapper {
  padding: 500px 0  1000px 0;
  background-image: url(../images/course&reserve.jpg);
  /* 背景サイズを中央に */
  background-position: center;
  background-size: cover;


  /* サンプルコピー時以下2行を消して使用 */
  text-align: center;
  font-size: 30px;


}

/**
 * **************************************
 *  footerメインに関わるCSSの設定
 * **************************************
*/

footer {
  background-color: black;
  padding: 5px;
}

.footer-title {
  color: aliceblue;
  font-family: "Hiragino Kaku Gothic ProN";
  margin: 0%;
}


.light {
  color: aliceblue;
  font-family: "Hiragino Kaku Gothic ProN";
}